
	<!-- Intro -->
	
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="intro_title text-center">Predict the market value of your property</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="intro_text text-center">
						<p>We can Predict the market value that will help you in buying and selling of your property  </p>
					</div>
				</div>
			</div>
			<div class="row intro_items">

				<!-- Intro Item Residential Area -->

				<div class="col-lg-4 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<div class="intro_item_background" style="background-image:url(../static/homes_/intro_1.jpg)"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Prediction of</div>

							<div class="button intro_button"><div class="button_bcg"></div>
							<a href="#">Predict<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1>Residential Property</h1>
								
								<div class="search_item" style="width: 90px; margin-left: 40px">
								<select name="Type" id="children_1" class="dropdown_item_select search_input">
									<option>House</option>
									<option>Apartment</option>
									<option>Flat</option>
								</select>
							</div>
							</div>
							<div class="search_item" style="width: 120px; margin-left:40px; margin-top: -46px ">
								
								<input type="text" class="check_in search_input" placeholder="Current Value ">
							</div>

						</div>
					</div>
				</div>

				<div class="col-lg-4 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						<div class="intro_item_background" style="background-image:url(../static/homes_/comercial.jpg)"></div>
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Prediction of</div>

							<div class="button intro_button"><div class="button_bcg"></div>
							<a href="#">Predict<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1>Commercial Property</h1>
								
								<div class="search_item" style="width: 90px; margin-left: 40px">
								<select name="Type" id="children_1" class="dropdown_item_select search_input">
									<option>Shop</option>
									<option>Land</option>
									<option>Office</option>
								</select>
							</div>
							</div>
							<div class="search_item" style="width: 120px; margin-left:40px; margin-top: -46px ">
								
								<input type="text" class="check_in search_input" placeholder="Current Value ">
							</div>

						</div>
					</div>
				</div>


				<!-- Intro Item -->

				<div class="col-lg-4 intro_col">
					<div class="intro_item">
						<div class="intro_item_overlay"></div>
						
						<div class="intro_item_background" style="background-image:url(../static/homes_/Ind.jpg)"></div>
						
						<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
							<div class="intro_date">Predicting for</div>
							<div class="button intro_button"><div class="button_bcg"></div><a href="#">predict<span></span><span></span><span></span></a></div>
							<div class="intro_center text-center">
								<h1>Industrial Property</h1>
								
								<div class="search_item" style="width: 90px; margin-left: 40px">
								<select name="Type" id="children_1" class="dropdown_item_select search_input">
									<option>Factory</option>
									<option>Plant</option>
									<option>Warehouse</option>
								</select>
							</div>
							</div>

							<!-- Current Value Input--> 
							<div class="search_item" style="width: 120px; margin-left:40px; margin-top: -46px ">
								
								<input type="text" class="check_in search_input" placeholder="Current Value ">
							</div><!-- Current Value Input--> 

								
							</div>
						</div>
					</div>
				</div>
			</div>



	<!-- CTA -->

	<div class="cta">
		<!-- Image by https://unsplash.com/@thanni -->
		<div class="cta_background" style="background-image:url(../static/homes_/images/cta.jpg)"></div>
		
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- CTA Slider -->

					<div class="cta_slider_container">
						<div class="owl-carousel owl-theme cta_slider">

							<!-- CTA Slider Item -->
							<div class="owl-item cta_item text-center">
								<div class="cta_title">Results of Prediction</div>
								<div class="rating_r rating_r_4">
									<i></i>
									<i></i>
									<i></i>
									<i></i>
									<i></i>
								</div>
								<p class="cta_text">Property Price Diplayed here  </p>
								<div class="button cta_button"><div class="button_bcg"></div><a href="#">More Results<span></span><span></span><span></span></a></div>
							</div>

							<!-- CTA Slider Item -->
							<div class="owl-item cta_item text-center">
								<div class="cta_title">maldives deluxe package</div>
								<div class="rating_r rating_r_4">
									<i></i>
									<i></i>
									<i></i>
									<i></i>
									<i></i>
								</div>
								<p class="cta_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec. Proin bibendum, augue faucibus tincidunt ultrices, tortor augue gravida lectus, et efficitur enim justo vel ligula.</p>
								<div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
							</div>

							<!-- CTA Slider Item -->
							<div class="owl-item cta_item text-center">
								<div class="cta_title">maldives deluxe package</div>
								<div class="rating_r rating_r_4">
									<i></i>
									<i></i>
									<i></i>
									<i></i>
									<i></i>
								</div>
								<p class="cta_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor. Suspendisse potenti. In faucibus massa arcu, vitae cursus mi hendrerit nec. Proin bibendum, augue faucibus tincidunt ultrices, tortor augue gravida lectus, et efficitur enim justo vel ligula.</p>
								<div class="button cta_button"><div class="button_bcg"></div><a href="#">book now<span></span><span></span><span></span></a></div>
							</div>
							
						</div>

						<!-- CTA Slider Nav - Prev -->
						<div class="cta_slider_nav cta_slider_prev">
							<svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
								<defs>
									<linearGradient id='cta_grad_prev'>
										<stop offset='0%' stop-color='#fa9e1b'/>
										<stop offset='100%' stop-color='#8d4fff'/>
									</linearGradient>
								</defs>
								<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
								M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
								C22.545,2,26,5.541,26,9.909V23.091z"/>
								<polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
								11.042,18.219 "/>
							</svg>
						</div>
						
						<!-- CTA Slider Nav - Next -->
						<div class="cta_slider_nav cta_slider_next">
							<svg version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
								<defs>
									<linearGradient id='cta_grad_next'>
										<stop offset='0%' stop-color='#fa9e1b'/>
										<stop offset='100%' stop-color='#8d4fff'/>
									</linearGradient>
								</defs>
							<path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
							M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
							C22.545,2,26,5.541,26,9.909V23.091z"/>
							<polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
							17.046,15.554 "/>
							</svg>
						</div>

					</div>

				</div>
			</div>
		</div>
					
	</div>

	<!-- Offers -->

	<div class="offers">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2 class="section_title">We have the best Property Suggestions for you</h2>
				</div>
			</div>
			<div class="row offers_items">

				<!-- Offers Item -->
				<div class="col-lg-6 offers_col">
					<div class="offers_item">
						<div class="row">
							<div class="col-lg-6">
								<div class="offers_image_container">
									<!-- Image by https://unsplash.com/@kensuarez -->
									<div class="offers_image_background" style="background-image:url(../static/homes_/homes.jpg)"></div>
									<div class="offer_name"><a href="#">Residential Areas</a></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="offers_content">
									<div class="offers_price">RS 50K<span>Starting </span></div>
									
									<p class="offers_text">Find Best place for your house, best location for your Shop or any other busniess location within your budget.</p>
									
									<div class="offers_link"><a href="offers.html">Search</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Offers Item -->
				<div class="col-lg-6 offers_col">
					<div class="offers_item">
						<div class="row">
							<div class="col-lg-6">
								<div class="offers_image_container">
									<!-- Image by Egzon Bytyqi -->
									<div class="offers_image_background" style="background-image:url(../static/homes_/comercial.jpg)"></div>
									<div class="offer_name"><a href="#">Commercial</a></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="offers_content">
									<div class="offers_price">Rs100K<span>Starting</span></div>
									
									<p class="offers_text">Find Best place for your house, best location for your Shop or any other busniess location within your budget.</p>
									<div class="offers_link"><a href="offers.html">Search</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Offers Item -->
				<div class="col-lg-6 offers_col">
					<div class="offers_item">
						<div class="row">
							<div class="col-lg-6">
								<div class="offers_image_container">
									<!-- Image by https://unsplash.com/@nevenkrcmarek -->
									<div class="offers_image_background" style="background-image:url(../static/homes_/Industry.jpg)"></div>
									<div class="offer_name"><a href="#">Industrial Area</a></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="offers_content">
									<div class="offers_price">Rs1000M<span>Starting</span></div>
									
									<p class="offers_text">Find Best place for your house, best location for your Shop or any other busniess location within your budget.</p>
											</div>
									<div class="offers_link"><a href="offers.html">Search</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Offers Item -->
				<div class="col-lg-6 offers_col">
					<div class="offers_item">
						<div class="row">
							<div class="col-lg-6">
								<div class="offers_image_container">
									<!-- Image by https://unsplash.com/@mantashesthaven -->
									<div class="offers_image_background" style="background-image:url(../static/homes_/agri.jpg)"></div>
									<div class="offer_name"><a href="#">Agriculture Area</a></div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="offers_content">
									<div class="offers_price">Rs1500M<span>Starting</span></div>
									
									<p class="offers_text">Find Best place for your house, best location for your Shop or any other busniess location within your budget.</p>
									
									<div class="offers_link"><a href="offers.html">Search</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
