

	{% extends 'HPA/base.html' %}

	{% block content %}


<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3"><h3 style="margin-top: 7px;">Select Your Desired Location: </h3></div>
	<div class="col-md-3">

		<form method="post" action="" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
			{% csrf_token %}
		<div class="search_item">
								
								<select name="location" style="font-size: 16px; width: 400px;" name="city" id="adults_1" class="dropdown_item_select search_input">
									
    <option value="Islamabad">Islamabad</option>
    <option value="Rawalpindi">Rawalpindi</option>
    <option value="Lahore">Lahore</option>
    <option value="Faisalabad">Faisalabad</option>
    <option value="Karachi">Karachi</option>

</select>

</div>



	</div>
	<div class="col-md-3"><input style="margin-top: -18px;" type="submit" name="cs" value="Find" class="button search_button"><span></span><span></span><span></span></div>
	</form>

</div>
<br>

{% if city == 'Islamabad' %}
	<h1 style="text-align: center;">{{info_1}}{{city}}</h1>
	{% include 'HPA/ISD/IS-room_counts.html' %}
<br>
	<h1 style="text-align: center;">{{info_2}}{{city}}</h1>
	{% include 'HPA/ISD/IS-room.html' %}
    
{% endif %}

{% if city == 'Faisalabad' %}
	<h1 style="text-align: center;">{{info_1}}{{city}}</h1>
	{% include 'HPA/FSD/FD-room_counts.html' %}
<br>
	<h1 style="text-align: center;">{{info_2}}{{city}}</h1>
	{% include 'HPA/FSD/FD-room.html' %}
    
{% endif %}

{% if city == 'Rawalpindi' %}
	<h1 style="text-align: center;">{{info_1}}{{city}}</h1>
	{% include 'HPA/RWP/RP-room_counts.html' %}
<br>
	<h1 style="text-align: center;">{{info_2}}{{city}}</h1>
	{% include 'HPA/RWP/RP-room.html' %}
    
{% endif %}

{% if city == 'Lahore' %}
	<h1 style="text-align: center;">{{info_1}}{{city}}</h1>
	{% include 'HPA/LHR/LH-room_counts.html' %}
<br>
	<h1 style="text-align: center;">{{info_2}}{{city}}</h1>
	{% include 'HPA/LHR/LH-room.html' %}
    
{% endif %}

{% if city == 'Karachi' %}
	<h1 style="text-align: center;">{{info_1}}{{city}}</h1>
	{% include 'HPA/KRC/KR-room_counts.html' %}
<br>
	<h1 style="text-align: center;">{{info_2}}{{city}}</h1>
	{% include 'HPA/KRC/KR-room.html' %}
    
{% endif %}


{% endblock %}
